<div>
    <style>
        .dygraphDefaultAnnotation {
            font-size: 12px !important;
            color: black !important;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: default;
        }
        .on {
            border-color: green !important;
            color: green !important;
        }
        .off {
            border-color: red !important;
            color: red !important;
        }
        .range-btns-cont {
            display: block;
            margin: 6px;
        }
        .btn-dash {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
        .btn-dash .text-muted {
            color: white;
        }

    </style>
    <div>
        <h1 class="page-header">{{$state.current.title}}</h1>
        <h3>{{$state.current.location}}</h3>

        <div class="row">
            <div class="col-sm-4 col-xs-12 text-center">
                <h4>Current water level</h4>
                <div ng-if="data.data.level">
                    <h1 class="text-success">{{data.data.level[data.data.level.length-1][1]}}
                        <small>cm</small>
                    </h1>
                    <span class="text-muted">Last update:
                        {{data.data.level[data.data.level.length-1][0] | date : 'mediumTime' : '+0200'}}</span>
                </div>
                <h1 ng-if="!data.data.level">No data.</h1>
            </div>
            <div class="col-sm-4 col-xs-6 text-center">
                <h4>1st pump status</h4>
                <div ng-if="data.data.pump1">
                    <button type="button" class="btn btn-dash" data-toggle="modal" data-target="#pump" data-id="1" ng-class="isRunning(1) ? 'btn-success':'btn-info'">
                        <h1>{{isRunning(1) ? "On" : "Off"}}</h1>
                        <span class="text-muted">Last operation:</br>
                        {{data.data.pump1[data.data.pump1.length-1][0] | date : 'mediumTime' : '+0200'}}
                    </span>
                </button>
            </div>
            <h1 ng-if="!data.data.pump1">No data.</h1>
        </div>
        <div class="col-sm-4 col-xs-6 text-center">
            <h4>2nd pump status</h4>
            <div ng-if="data.data.pump2">
                <button type="button" class="btn btn-dash" data-toggle="modal" data-target="#pump" data-id="2" ng-class="isRunning(2) ? 'btn-success':'btn-info'">
                    <h1>{{isRunning(2) ? "On" : "Off"}}</h1>
                    <span class="text-muted">Last operation:</br>
                    {{data.data.pump2[data.data.pump2.length-1][0] | date : 'mediumTime' : '+0200'}}
                </span>
            </button>
        </div>
        <h1 ng-if="!data.data.pump2">No data.</h1>
    </div>
</div>

</div>
<h2>History chart</h2>
<div ng-if="data.data">
<div id="levelChart" style="width: 100%"></div>

<div class="btn-group range-btns-cont pull-left">
    <button ng-click="update()" name="range-btn-refresh" class="btn btn-primary">
        Refresh
    </button>
</div>
<div id="range-btns-cont-1" class="btn-group range-btns-cont pull-right">
    <button ng-click="zoom(157680000)" name="range-btn-5y" class="btn btn-default" ng-class="{active:isZoomed(157680000)}">
        5y
    </button>
    <button ng-click="zoom(31536000)" name="range-btn-1y" class="btn btn-default" ng-class="{active:isZoomed(31536000)}">
        1y
    </button>
    <button ng-click="zoom(15768000)" name="range-btn-6m" class="btn btn-default" ng-class="{active:isZoomed(15768000)}">
        6m
    </button>
    <button ng-click="zoom(2629746)" name="range-btn-1m" class="btn btn-default" ng-class="{active:isZoomed(2629746)}">
        1m
    </button>
    <button ng-click="zoom(604800)" name="range-btn-1w" class="btn btn-default" ng-class="{active:isZoomed(604800)}">
        1w
    </button>
    <button ng-click="zoom(86400)" name="range-btn-1d" class="btn btn-default" ng-class="{active:isZoomed(86400)}">
        1d
    </button>
    <button ng-click="zoom(21600)" name="range-btn-1d" class="btn btn-default" ng-class="{active:isZoomed(21600)}">
        6h
    </button>
    <button ng-click="zoom(0)" name="range-btn-reset" class="btn btn-primary">
        End
    </button>
</div>
</div>
<h1 ng-if="!data.data">No data.</h1>
</div>

<div class="modal fade" id="pump" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pump statistics</h4>
    </div>
    <div class="modal-body">
        <p id="hours">Working time:</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>

</div>
</div>
